@model  Enjoygame.DOMAİN.Core.Kategori

@{


    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container ">
    <div class="row box">
        <div id="hot">
            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h3 class="text-center">@Model.KategoriAd</h3>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var i in Model.Urunler)
            {
            <div class="col-md-3 col-sm-6 ">
                <div class="product box">
                    <div class="flip-container ">
                        <div class="flipper">
                            <div class="front">
                                <a href="/Home/GameDetails/@i.ID">
                                    <img src="@i.urunResimYolu1" alt="@i.urunBilgisi" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <h3>@i.urunAd</h3>
                        <p class="price">@i.urunFiyat</p>
                    </div>
                </div>
            </div>
            <!-- /.product -->
        }
    </div>
</div>